<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="07EAC440-82A8-127C-927C-1EF842220B03" 
      Name="Toopher FreeRADIUS Server" 
      Language="1033" Version="1.2" 
      Manufacturer="Toopher, Inc" 
      UpgradeCode="2651E174-96CB-4B5F-AAE7-A53B2D79F041">
    <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
    <MajorUpgrade 
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
    <Icon Id="toopher16x16.ico" SourceFile="assets\toopher-16x16.ico" />
    <Icon Id="toopher32x32.ico" SourceFile="assets\toopher-32x32.ico" />
    <Icon Id="toopher48x48.ico" SourceFile="assets\toopher-48x48.ico" />
    <Icon Id="toopher256x256.ico" SourceFile="assets\toopher-256x256.ico" />
    <!-- set the icon that shows up in add/remove programs -->
    <Property Id="ARPPRODUCTICON" Value="toopher32x32.ico" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Toopher" Name="Toopher">
          <Directory Id="INSTALLDIR" Name="Toopher FreeRADIUS Server">
            <!-- serverfiles.wxs will install the application files here -->
            
            <!-- create empty directories that FreeRADIUS expects to see -->
            <Directory Id="InstallDirVar" Name="var">
              <Directory Id="InstallDirVarLog" Name="log">
                <Directory Id="InstallDirVarLogRadius" Name="radius">
                  <Directory Id="InstallDirVarLogRadiusRadacct" Name="radacct">
                    <Component Id="EmptyFolder1" Guid="87F55170-78F1-127C-9A1E-1C3628A0E044"
                        SharedDllRefCount="no" KeyPath="no"  NeverOverwrite="no" Permanent="no" Transitive="no"
                        Win64="no" Location="either">
                      <CreateFolder />
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
              <Directory Id="InstallDirVarRun" Name="run">
                <Directory Id="InstallDirVarRunRadiusd" Name="radiusd">
                  <Component Id="EmptyFolder2" Guid="8963A720-78F4-127C-9AAD-154408E6BFA4"
                      SharedDllRefCount="no" KeyPath="no"  NeverOverwrite="no" Permanent="no" Transitive="no"
                      Win64="no" Location="either">
                    <CreateFolder />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuToopher" Name="Toopher">
          <Directory Id="ProgramMenuToopherRADIUS" Name="Toopher-RADIUS Server">
            <Component Id="ProgramMenuShortcuts" Guid="A6913810-7522-127C-9B8C-1E55CCF37B0F">
              <Shortcut Id="ReadmeShortcut"
                  Name="View README"
                  Target="[INSTALLDIR]README.html"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="RunToopherRadiusSetup"
                  Name="Configuration"
                  Target="[INSTALLDIR]toopher_radius_config.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="EditClientsDotConf"
                  Name="Edit clients.conf"
                  Target="[INSTALLDIR]edit_clients_conf.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="RunDebugServer"
                  Name="Run in Debug Mode"
                  Target="[INSTALLDIR]debug_toopher_radius.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="InstallServiceShortcut"
                  Name="Install as a Service"
                  Target="[INSTALLDIR]install_service.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="RestartServiceShortcut"
                  Name="Restart Service"
                  Target="[INSTALLDIR]restart_service.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="UninstallServiceShortcut"
                  Name="Uninstall Service"
                  Target="[INSTALLDIR]uninstall_service.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="ResetToopherPairingShortcut"
                  Name="Reset User Pairing"
                  Target="[INSTALLDIR]reset_user_pairing.cmd"
                  WorkingDirectory="INSTALLDIR" />
              <RegistryValue Root="HKCU" Key="Software\Toopher\Toopher FreeRADIUS Server"
                  Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <RemoveFolder Id="RemoveProgramMenuToopherRADIUS"
                  Directory="ProgramMenuToopherRADIUS"
                  On="uninstall" />              
              <RemoveFolder Id="RemoveProgramMenuToopher"
                  Directory="ProgramMenuToopher"
                  On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
              
    <Feature Id="ServerFiles" Level="1">
      <ComponentGroupRef Id="ServerFiles" Primary="yes" />
      <ComponentRef Id="ProgramMenuShortcuts" />
      <ComponentRef Id="EmptyFolder1" />
      <ComponentRef Id="EmptyFolder2" />
    </Feature>
  </Product>
</Wix>