{% extends "site_base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block body_class %}account{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li id='radius-admin-toopher-setup'><a href="{% url "radius-admin-toopher-setup" %}">{% trans "Toopher Setup" %}</a></li>
        <li id='radius-admin-server-control'><a href="{% url "radius-admin-server-control" %}">{% trans "Server Control" %}</a></li>
        <li id='radius-admin-remote-access'><a href="{% url "radius-admin-remote-access" %}">{% trans "Remote Access" %}</a></li>
        <li id='radius-admin-advanced'><a href="{% url "radius-admin-advanced" %}">{% trans "Advanced" %}</a></li>
    </ul>

{% block radius_admin_body %}{% endblock %} 
{% endblock %}

{% block script_footer %}
	<script>
	$('#navbar-radius-admin').addClass('active');
	</script>
	{% block radius_admin_footer %}{% endblock %}
{% endblock %}