{% extends "toopher_radius_admin/radius_admin/base.html" %}
{% load bootstrap_tags %}
{% load i18n %} 

{% block radius_admin_body %}
<div class="row">
	Radius Admin - Toopher Setup
    <div class="span8">
        <form id='radius-admin-toopher-setup-form' method="POST" action="{% url radius-admin-toopher-setup %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            <legend>{% trans "Toopher API Configuration" %}</legend>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                <!-- <button type="button" class="btn btn-primary" id='submit-btn'>{% trans "Log in" %}</button> -->
            </div>
        </form>
    </div>
{% endblock %}

{% block radius_admin_footer %}
<script>
$('#radius-admin-toopher-setup').addClass('active');
</script>
{% endblock %}